{% extends "Post/base.html" %}
{% block main_block %}
<!DOCTYPE html>
<html>
    <head>
	  <title>ِAll Posts</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
    </head>
    <body>
         
        <div class="container">
        <h2>All Posts</h2>
         <div class="row">
            <div class="col-2">
                 
            </div>
            <div class="col-4">
                <h3 id="title">Title</h3> 
                <img src="/home/ramadan/Desktop/test.jpg" width="300"><br>
                <p id="content"> hellooooooooooooooooooooo</p>
                <div class="row">
                    <div class="col-2 ml-2">
                        <p>Like</p>
                    </div>
                    <div class="col-3 ">
                        <p>DisLike</p>
                    </div>
                    <div class="col-3">
                        <p>Comment</p>
                    </div>
                    <div class="col-3 ml-2">
                        <p>Tag</p>
                    </div>
                </div>
                <p id="comment"> helloooooooo</p>
                
            </div>
            <div class="col-2">
                  
            </div>
         </div>
        </div>
         
		 
    </body>
</html>


{% endblock %}